
<div class="card mt-5">
      <div class="card-header bg-danger text-white">
<h3 class="font-weight-bold ">THÊM SINH VIÊN</h3>
      </div>
  <div class="card-body">
    
        <form action="/tintucdatxanh/luutintucdatxanh" method="post">  
        
       <div class="form-row"> <!--thuộc tính form-row nó giúp chia 2 cột trên 1 row của nó-->
                    <div class="col-6">
                        <label>TIÊU ĐỀ BÀI VIẾT</label>
                        <input name="txt_tieude" id="txt_tieude" class="form-control" type="text" value="">
                          
                    </div>
                   <div class="col-6">
                        <label>NỘI DUNG BÀI VIẾT</label>
                        <input name="txt_noidung" id="txt_noidung" class="form-control" type="text" value="">
                       
                    </div>
                    </div>
                     <div class="form-row"> <!--thuộc tính form-row nó giúp chia 2 cột trên 1 row của nó-->
                    <div class="col-6">
                        <label>DANH MỤC BÀI VIẾT</label>
                        <input  name="txt_danhmuc" id="txt_danhmuc" class="form-control" type="text" value="">
                       
                    </div>
                    <div class="col-6">
                        <label>TÁC GIẢ BÀI VIẾT</label>
                        <input name="txt_tacgia" id="txt_tacgia" class="form-control" type="text" value="">
                       
                    </div>
</div>
<div class="card-header text-white">
                    <button id="submit-button" type="submit" class="btn btn-warning" name="action" value="CONFIRM"><i class="icon-save"></i>&nbsp&nbspLưu Lại&nbsp&nbsp</button>
                    <a href="/tintucdatxanh" class="btn btn-danger"><i class="icon-remove"></i>&nbsp&nbspVề Trang Chủ&nbsp&nbsp</a>
</div>
</form>

</div>
  
 
 